source https://nuget.org/api/v2

nuget FParsec 1.0.2
nuget FSharp.Formatting
nuget FAKE
nuget nunit 3.0.0
nuget nunit.runners 3.0.0
nuget SourceLink.Fake
github fsharp/FAKE modules/Octokit/Octokit.fsx