source https://nuget.org/api/v2

nuget FParsec
nuget FSharp.Formatting
nuget FAKE
nuget SourceLink.Fake

group Test
  source https://nuget.org/api/v2
  nuget NUnit 
  nuget NUnit.Runners

github fsharp/FAKE modules/Octokit/Octokit.fsx